.section1 {
    background-image: url('../CALCULADORA/img/backgroundsection1.jpeg');
    background-size: cover;
    background-position: center;
}

.section1 .logo img {
    width: 20vh;
    margin: 5vh 0px;
}

.conteudo1 {
    color: white;
    text-align: center;
    padding: 0px;
}


.section2 {
    background-color: rgb(23, 37, 56);
    padding: 15vh 0vh;
}

.conteudo2texto h1 {
    color: white;
}

.conteudo2texto p {
    color: white;
}

.form {
    margin-bottom: 10vh;
}

.section1 .customer-logo img {
    width: 10vh;
    margin-bottom: 3vh;
}

.container-fluid {
    height: 100%;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-white {
    background-color: #fff;
}

.text-primary {
    color: #007bff;
}

.btn-primary,
.btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.table {
    margin-top: 20px;
}

.table thead th {
    background-color: #007bff;
    color: #fff;
}

.table tbody tr:nth-child(odd) {
    background-color: #cce5ff;
}

.table tbody tr:nth-child(even) {
    background-color: #b3d9ff;
}

.table tbody td {
    font-weight: bold;
}

.melhor-plano {
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    padding: 2px 5px;
    border-radius: 3px;
}

.footer{
    background-color: rgb(37, 59, 86);
    font-size: 70%;
    padding: 1vh;
}

.footer img {
    width: 10vh;
}

.footer p {
    color: white;
    text-align: right;
}